/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
    #  Baseline Normalize
    #  Layout
    #  Header
        ##  Logo
        ##  Header right
        ##  Main Navigation & Primary Menu
    #  Content
    #  Widgets
    #  Footer
        ##  Mobile Menu
        ##  Backtop
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  Baseline Normalize
--------------------------------------------------------------*/
body {
    color: #1f1f1f;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.mt-0 {
    margin-top: 0;
}

.no-padding {
    padding: 0;
}

.screen-reader-text, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*--------------------------------------------------------------
#  Layout
--------------------------------------------------------------*/
.site.boxed {
    margin: 0 auto;
    background: transparent;
}

.site.boxed.w1000 {
    max-width: 1000px;
}

.site.boxed.w1170 {
    max-width: 1170px;
}

.site.boxed.w1200 {
    max-width: 1200px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .site.w1000 .container {
        width: 1000px;
    }

    .site.w1170 .container {
        width: 1170px;
    }

    .site.w1200 .container {
        width: 1200px;
    }
}

#layout {
    padding-top: 10px;
}

body:not(.home) .site-main {
    background: #fff;
    border: 1px solid #b1b1b1;
    box-shadow: 0px 1px 1px 1px #bbbbbb;
    padding: 10px;
}

@media (min-width: 992px) {
    .content-area {
        width: 78.632%;
        float: left;
    }

    .widget-area {
        width: 21.368%;
        float: left;
    }

    .sidebar-both .content-area {
        width: 60%;
    }

    .sidebar-both .widget-area {
        width: 20%;
    }

    .sidebar-left .content-area {
        left: 21.368%;
        padding-right: 0;
    }

    .sidebar-left .widget-area {
        right: 78.632%;
        padding-left: 0;
    }

    .sidebar-both .content-area {
        left: 20%;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-both #secondary-1.widget-area {
        right: 60%;
    }

    .sidebar-right .content-area {
        padding-right: 0;
    }
}

.sidebar-none .widget-area {
    display: none;
}

.no-sidebar .content-area {
    width: 100%;
}

.content-area, .widget-area {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-bottom: 20px;*/
    word-wrap: break-word;
}

/*--------------------------------------------------------------
#  Header
--------------------------------------------------------------*/

@media ( min-width: 783px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 32px;
    }
}

@media screen and ( min-width: 601px ) and ( max-width: 782px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 46px;
    }
}
.site-topbar {
    background-color: #979797;
    position: relative;
    width: 100%;
    height: 31px;
    line-height: 31px;
    z-index: 12;
    color: #fff;
}

.site-topbar a {
    color: #fff;
}
.site-topbar a:hover {
    color: #333;
}
.site-topbar .topbar_social a {
    height: 13px;
    width: 13px;
    border-radius: 3px;
    margin: 6px 5px 0 10px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.site-topbar .topbar_social a:first-child {
    margin-left: 0;
}
.fixed-nav-menu .main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.fixed-nav-menu .animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform,opacity;
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

@-webkit-keyframes slideDown{
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown{
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown{
  0% {
    -o-transform: translateY(-100%);
  }
  100% {
    -o-transform: translateY(0);
    }
}

@keyframes slideDown{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*--------------------------------------------------------------
##  Logo
--------------------------------------------------------------*/
.custom-logo-link {
    display: block;
}
.site-branding {
    text-align: center;
}
@media (max-width: 991px) {
    .site-branding {
        background: #ee2424!important;
    }
    .custom-logo-link {
        text-align: center;
    }
}

/*--------------------------------------------------------------
##  Header Search
--------------------------------------------------------------*/
.header-search .search-form {
    position: relative;
    height: 41px;
}

.header-search .search-form .search-field {
    width: 100%;
    border: none;
    padding: 3px 10px;
    position: absolute;
    border-radius: 30px;
    outline: none;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 2.5s ease-in-out;
    transition: all .25s ease-in-out;
}

.header-search .search-form .search-submit {
    border: 0;
    background: transparent;
    color: #b60e15;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 0 30px 30px 0;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media ( min-width: 1200px ) {
    .has-vertical-mega-menu .header-search.col-lg-1 .search-form .search-field:focus {
        width: 250px;
    }
}

/*--------------------------------------------------------------
##  Main Navigation & Primary Menu
--------------------------------------------------------------*/
@media (min-width: 1200px) {
    .site.boxed .main-navigation .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-navigation {
    background: url(../images/bg-menu.png);
}

#primary-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#primary-menu li {
    position: relative;
}

#primary-menu > li {
    float: left;
}

#primary-menu li a {
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 10.5px 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(80, 80, 80, 0.37);
    transition: all .25s ease-in-out;
}

#primary-menu li a:hover {
    background: #ff5454;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    text-decoration: none;
}

#primary-menu li a:hover,
#primary-menu li.current-menu-item a {
    color: #fffd79;
}

#primary-menu li ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    background: #484848;
    width: 250px;
    position: absolute;
    left: 250px;
    top: 0;
    padding-left: 0;
    list-style: none;
    z-index: 9999;
    box-shadow: 0 0 3px #8c8c8c;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#primary-menu li ul.sub-menu li {
    border-bottom: 1px solid #ff5e5e;
}

#primary-menu li ul.sub-menu li a {
    text-transform: none;
}

#primary-menu > li > ul.sub-menu {
    left: 0;
    top: auto;
}

#primary-menu li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.pd-navbar-toggle {
    background: #fff;
    padding: 0;
    margin: 14px 0;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
}

.pd-navbar-toggle .icon-bar {
    background: black;
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    outline: none;
}

.pd-navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (max-width: 1199px) {
    .pd-navbar-toggle {
        background: transparent;
    }

    .pd-navbar-toggle .icon-bar {
        background: white;
    }
}

/*--------------------------------------------------------------
#  Vertical Mega Menu
--------------------------------------------------------------*/
.vertical-mega-menu {
    position: relative;
}

.vertical-mega-menu .vertical-mega-menu-title {
    margin-bottom: 0;
    background: #006f94;
    border-radius: 0;
    text-align: left;
    padding: 9.5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.vertical-mega-menu .vertical-mega-menu-title:after {
    content: "\f039";
    float: right;
    font-family: fontawesome;
    font-weight: 100;
}

.vertical-mega-menu .pd_mega_menu .menu {
    position: absolute;
    z-index: 9999;
    background: white;
    width: calc(100% - 30px);
    border: 1px solid #ccc;
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.home .site:not(.fixed-nav-menu) .vertical-mega-menu .pd_mega_menu .menu,
.vertical-mega-menu .pd_mega_menu:hover .menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.vertical-mega-menu .pd_mega_menu .menu ul.sub-menu {
    margin-bottom: 0;
    padding-left: 0;
}

.vertical-mega-menu .pd_mega_menu .menu li {
    list-style: none;
}

.vertical-mega-menu .pd_mega_menu .menu > li {
    border-bottom: 1px solid #eee;
}

.vertical-mega-menu .pd_mega_menu .menu li a {
    display: block;
    padding: 10px;
    color: #333;
}

.vertical-mega-menu .pd_mega_menu .menu > li > .sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-left: 30px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.vertical-mega-menu .pd_mega_menu .menu > li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

.vertical-mega-menu .pd_mega_menu .menu > li > .sub-menu {
    position: absolute;
    width: 700px;
    left: 100%;
    top: -1px;
    background: white;
    border: 1px solid #ccc;
}

.vertical-mega-menu .pd_mega_menu .menu > li > .sub-menu > li {
    padding: 0 10px;
}

.vertical-mega-menu .pd_mega_menu .menu .w3c {
    width: calc(100% / 3);
    float: left;
}

.vertical-mega-menu .pd_mega_menu .menu > li > .sub-menu > li a {
    padding-left: 0;
}

.vertical-mega-menu .pd_mega_menu .menu > li > .sub-menu > li.w3c > a {
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.vertical-mega-menu .pd_mega_menu .menu > li > .sub-menu > li.w3c > a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background: blue;
    bottom: -1px;
    left: 0;
}

@media ( max-width: 1199px ) {
    .vertical-mega-menu .pd_mega_menu {
        display: none;
    }
}

.vertical-mega-menu #mega-menu-toggle {
    float: left;
}

/*--------------------------------------------------------------
#  Content
--------------------------------------------------------------*/

.thumbnail-left {
    float: left;
    width: 35%;
    margin-right: 10px;
}

.slider_item {
    outline: none;
}

.slick-slide,
.slick-slide a {
    outline: none;
}

.slick-arrow {
    background: #ccc;
    border: none;
    padding: 0;
    width: 100%;
    height: 20px;
    outline: none;
    position: absolute;
}

.slick-prev {
    top: 50%;
    left: 0;
    width: 20px;
    z-index: 9999;
    height: 20%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-next {
    top: 50%;
    right: 0;
    height: 20%;
    width: 20px;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-vertical .slick-arrow {
    position: static;
    height: 21.5px;
    width: 100%;
    transform: translate(0);
    display: block !important;
}

h1.entry-title, h1.page-title {
    border-bottom: 2px solid #ff0707;
    display: inline-block;
    line-height: 33px;
    margin: 0;
    color: #ff0707;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    text-transform: uppercase;
}

.archive article.post {
    display: table;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px 0;
}

.archive article.post h2.entry-title {
    margin-top: 0;
    font-size: 1.5em;
}
.archive article.post h2.entry-title a:hover {
    color: #c2100e;
}
/*--------------------------------------------------------------
#  WooCommerce
--------------------------------------------------------------*/
/* Content */

ul.list-unstyled {
    padding: 10px;
    margin-bottom: 0;
}
ul.pd_woocommerce_tabs {
    padding: 10px 0 0;
}
ul.list-unstyled li.product {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

.woocommerce li.product .price {
    padding: 0 6px;
    display: block;
}

.woocommerce li.product .price:after {
    content: '';
    display: block;
    clear: both;
}

.woocommerce li.product .price span {
    width: 50%;
    float: left;
}

.woocommerce li.product .price span.sale-price {
    text-align: right;
    color: #e00000;
    font-weight: bold;
    font-size: 18px;
}

.woocommerce li.product .price span.regular-price {
    font-size: 15px;
    text-decoration: line-through;
    line-height: 28px;
    color: black;
}

.woocommerce li.product .price.no-sale-price span.regular-price {
    font-size: 14px;
    color: #363636;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

span.no-price {
    text-align: center;
    color: #f00;
    margin-bottom: 10px;
    display: block;
}

.pd_add_to_cart {
  padding-left: 6px;
  padding-right: 6px;
}

.woocommerce li.product .pd_add_to_cart a {
    background: #eda418;
    font-weight: 100;
    border-radius: 4px;
    border: 1px dotted #946201;
    outline: none;
    padding: 4px 14px;
    color: white;
    float: left;
    margin-top: 0;
    line-height: 1;
    font-size: 13px;
    margin-top: 0 !important;
}

.woocommerce li.product .pd_add_to_cart a.view_product {
    float: left;
    background: #473f9c;
    border-color: black;
}

.woocommerce li.product .pd_add_to_cart a.add_to_cart_button,
.woocommerce li.product .pd_add_to_cart a.added_to_cart {
    float: right;
    color: black;
}

@media (max-width: 1200px) {
    .woocommerce li.product .pd_add_to_cart a.add_to_cart_button,
    .woocommerce li.product .pd_add_to_cart a.added_to_cart {
        display: block;
    }
}

.woocommerce li.product .pd_add_to_cart a.add_to_cart_button.added {
    display: none;
}

.woocommerce li.product .pd_add_to_cart a.buy_now_shop_loop_btn {
    float: right;
}
.pd-tooltip {
    display: block;
}
.pd_product_excerpt {
    margin-bottom: 10px;
    font-size: .899em;
    padding: 0 6px;
}

.pd_woocommerce-loop-product__title {
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
    line-height: 1.3em;
}

.pd_woocommerce-loop-product__title a {
    display: block;
    color: #555;
    font-size: 13px;
}

.pd_rating {
    background: url(../images/rating.png) center center no-repeat;
    width: 100%;
    height: 14px;
    margin: 10px 0;
}

.woocommerce li.product .pd_onsale {
    background: url(../images/sale-flash.png);
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    width: 53px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-weight: bold;
}

@media (max-width: 413px) {
    .pd_add_to_cart {
        padding: 0 5px;
    }
}

/* Single */
.woocommerce div.product .product_title {
  font-size: 16px;
  clear: both;
  display: table;
}

.pd_single_regular_price {
    color: #989898;
    text-decoration: line-through;
    font-size: 15px;
}

.pd_single_regular_price.no_sale {
    color: red;
    text-decoration: none;
    font-size: inherit;
}

.pd_single_sale_price {
    color: red;
    margin-left: 10px;
}

.pd_price_text {
    font-size: 14px;
    color: #2d2d2d;
}

.woocommerce .star-rating span {
    color: #ccc;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0.618em;
}

.product_meta {
    margin: 6px 0;
}

.woocommerce .woocommerce-breadcrumb {
    background: #fff;
    padding: 7px !important;
    border-radius: 0px !important;
    margin-bottom: 10px !important;
    box-shadow: 0px 1px 1px 0px #ddd inset;
    margin-top: 10px !important;
    box-shadow: 0px 1px 1px 1px #969595;
}

.site.boxed .woocommerce-breadcrumb {
    margin-left: -15px;
    margin-right: -15px;
    padding: 8px 15px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #222;
}

/* Single Product */
.single-product .pd_woocommerce-product-gallery .pd-woocommerce-product-gallery__wrapper {
    position: relative;
}

@media (min-width: 992px) {
  .single-product .pd_woocommerce-product-gallery {
      width: 43%;
      float: left;
      margin-bottom: 20px;
  }

  .single-product .pd-summary {
      width: 55%;
      float: right;
      margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
    .single-product .pd-summary {
        margin-top: 20px;
    }
}

.single-product .pd_woocommerce-product-gallery.vertical .pd-woocommerce-product-thumbnail {
    width: 82%;
    float: right;
}

.single-product .pd_woocommerce-product-gallery.vertical .pd-woocommerce-product-gallery-nav {
    position: relative;
    width: 16.75%;
    max-width: 91px;
    float: left;
    height: 423px;
    max-height: 423px;
    overflow: hidden;
}

.single-product .pd_woocommerce-product-gallery.horizontal .pd-woocommerce-product-gallery-nav {
    height: 20px;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 130px !important;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
}

@media (max-width: 414px) {
    .single-product .pd_woocommerce-product-gallery.vertical .pd-woocommerce-product-gallery-nav {
        display: none;
    }

    .single-product .pd_woocommerce-product-gallery.vertical .pd-woocommerce-product-thumbnail {
        float: none;
        width: 100%;
    }
}

.pd_woocommerce-product-gallery .woocommerce-product-gallery__image {
    border: 1px solid #ccc;
    padding: 6px;
}

.pd-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    cursor: pointer;
    padding: 5px;
    border-color: #ccc;
    margin: 10px 5px;
    height: auto;
}

.pd_woocommerce-product-gallery.vertical .pd-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    width: 100%;
}

.single-product .pd_woocommerce-product-gallery.vertical .thumbelina-but {
    height: 20px;
    z-index: 999;
    position: absolute;
    width: 100%;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
}

.thumbelina li img {
    width: 100%;
    height: auto;
    margin: 0;
}

.single-product .pd_woocommerce-product-gallery .thumbelina-but.left {
    background: url( ../images/arrow-top.jpg ) center;
}

.single-product .pd_woocommerce-product-gallery .thumbelina-but.right {
    bottom: 0;
    background: url( ../images/arrow-bottom.jpg ) center;
}

.single-product .pd_woocommerce-product-gallery.horizontal .thumbelina-but.left,
.single-product .pd_woocommerce-product-gallery.horizontal .thumbelina-but.right {
    height: 80px;
    width: 20px;
    box-shadow: none;
    border: none;
    top: 52%;
    transform: translateY(-50%);
}

.single-product .pd_woocommerce-product-gallery.horizontal .thumbelina-but.left {
    background: url(../images/arrow-left.jpg) center;
    left: 0;
}

 .single-product .pd_woocommerce-product-gallery.horizontal .thumbelina-but.right {
    background: url(../images/arrow-right.jpg) center;
    right: 0;
}

.woocommerce div.product form.cart .button {
    background: #eb0d0a;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    outline: none;
}

.woocommerce .quantity .qty {
    height: 35px;
    width: 60px;
    outline: none;
}

.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 1.5em;
}

a.btn_num.button_qty {
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: 6px 12px;
    cursor: pointer;
}

button.pd_qv_btn {
    background: #0072bc;
    line-height: 33px;
    padding: 4px 22px;
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    border: 1px solid #0878c1;
    border-radius: 8px;
    float: left;
}
span.rt_single_sale_price {
    color: red;
}
.sku_wrapper, .is_stock {
    margin: 0;
    padding: 6px 0px;
    border-bottom: 1px solid #e1e1e1;
}
.pd_woocommerce_single_product_summary {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
}

.pd_woocommerce_single_product_summary-left {
  width: 60%;
  float: left;
  margin-right: 14px;
}

.pd_woocommerce_single_product_summary-right {
    overflow: hidden;
    background: #f3f3f3;
    border-top: 1px solid #e5e5e5;
}

.pd_box_callback {
    margin: 10px 0;
    padding: 8px;
    background: #5aca59;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.pd_box_callback label {
    display: block;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 5px;
}

@media (max-width: 414px) {
    .pd_box_callback label {
      float: none;
      display: block;
    }
}

.pd_box_callback input[type="text"] {
    border-color: #5aca59;
    font-weight: normal;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 13px;
    color: #222;
    outline: none;
    float: left;
    margin-right: 5px;
}

.pd_box_callback input[type="submit"] {
    background: #ff8400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding: 3px 8px;
    border: none;
    outline: none;
    margin-right: 5px;
}

.ctsp-giaohang, .ctsp-doihang, .ctsp-chinhhang {
    margin-top: 19px;
    margin-left: 15px;
    height: 42px;
    line-height: 42px;
}

.note-ship {
    color: #666;
    font-size: 13px;
    padding: 10px 15px;
    margin-top: 18px;
    border-top: 1px solid #e5e5e5;
    font-weight: bold;
}

form#pd_box_callback {
    display: table;
}

.ctsp-giaohang i {
    background: url(../images/gh-icon.png) no-repeat left top;
}

.ctsp-thongdiep i {
    width: 42px;
    height: 42px;
    display: inline-block;
    float: left;
}

.ctsp-doihang i {
    background: url(../images/dt-icon.png) no-repeat left top;
}

.ctsp-chinhhang i {
    background: url(../images/ch-icon.png) no-repeat left top;
}

.money-icon {
    background: url(../images/money-icon.png) no-repeat left top;
    width: 46px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 5px;
}

.ctsp-thongdiep p {
    width: 130px;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
    line-height: 20px;
}

@media (max-width: 600px) {
    .pd_woocommerce_single_product_summary-left, .pd_woocommerce_single_product_summary-right {
        float: none;
        width: 100%;
        margin: 0;
    }

    .note-ship {
        margin-bottom: 10px;
    }

    .single-product .content-area {
      margin-top: 10px;
    }
}

.pd_woocommerce_tabs:after {
    height: 1px;
    width: 100%;
    background: #e20000;
}

.pd_woocommerce_tabs li {
    float: left;
    background: #e20000;
    margin-bottom: -2px;
    margin-right: 5px;
    margin-left: 0;
    font-family: 'UTMCAFETA';
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px 4px 0 0;
}

.pd_woocommerce_tabs li.active, .pd_woocommerce_tabs li:hover {
    border: 2px solid #e20000;
    border-bottom: 0;
    background: #fff;
}

.pd_woocommerce_tabs li a {
    color: #fff;
    padding: 4px 15px;
    display: block;
    font-size: 18px;
}

.pd_woocommerce_tabs li a:hover, .pd_woocommerce_tabs li.active a {
    color: #e20000;
}

.woocommerce div.product .woocommerce-tabs .panel {
    padding: 10px;
    border: 1px solid #dddddd;
    border-top: none;
    box-shadow: none;
    border-radius: 0;
}

/*--------------------------------------------------------------
#  Widgets
--------------------------------------------------------------*/
.widget {
    margin-bottom: 2em;
}
.sidebar .widget {
    background: #fff;
    margin-bottom: 1em;
    box-shadow: 0px 1px 1px 1px #969595;
}
@media ( min-width: 568px ) and ( max-width: 991px ) {
    .sidebar {
        display: flex;
        flex-wrap: wrap;
    }

    .sidebar .widget {
        width: calc((100% - 10px) /2 );
        float: left;
    }

    .sidebar .widget:not(:nth-child(2n)) {
        margin-right: 10px;
    }

}
.widget ul {
    padding-left: 0;
    list-style: none;
}

.widget-title {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.039em;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar .widget-title {
    background: #0072bc;
}

.sidebar .widget_nav_menu .widget-title {
    background: url(../images/bg-menu.png);
}

.sidebar h3.widget-title:before {
    content: '\f03a';
    float: left;
    margin-right: 5px;
    font: normal normal normal 14px/1 FontAwesome;

}

.widget-title a {
    color: white;
}
.site-main h3.widget-title {
    background: #fff;
    color: #0072bc;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0.6em;
    border-bottom: 1px solid #c0c0c0;
}
.site-main h3.widget-title span {
    bottom: -2px;
    position: relative;
    padding: 5px 0;
    border-bottom: 2px solid #0072bc;
}
/*--------------------------------------------------------------
#  Widget Nav Menu
--------------------------------------------------------------*/
.sidebar .widget_nav_menu .menu {
    background: #fff;
}

.sidebar .widget_nav_menu .menu li:not(:first-child) {
    border-top: 1px dashed #dbdada;
}

.sidebar .widget_nav_menu .menu li a {
    padding: 6.5px 12px;
    display: block;
    color: #333;
    font-size: 15px;
}

.sidebar .widget_nav_menu .menu li a:before {
    content: '\f0da';
    font: normal normal normal 14px fontawesome;
    color: #bbbaba;
    margin-right: 5px;
}

/*--------------------------------------------------------------
#  Widget Text
--------------------------------------------------------------*/
.sidebar .widget_text .textwidget {
    padding: 5px;
}
/*--------------------------------------------------------------
#  PD Home Slider Widgets
--------------------------------------------------------------*/
.home .pd_slider_widget {
    margin: 12px 0;
    background: #fff;
    padding: 4px;
    box-shadow: 1px 1px 1px 1px #969595;
}

.home .pd_slider_widget .flexslider {
    margin-bottom: 0;
}

ol.flex-control-nav.flex-control-paging {
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    cursor: default;
}
.flex-direction-nav a {
    background-image: url(../images/bg_direction_nav.png)!important;
}
/*--------------------------------------------------------------
#  PD Support Widgets
--------------------------------------------------------------*/
@font-face{
    font-family:'UTMCAFETA';
    src: url(../fonts/UTMCAFETA.ttf);
    font-weight:normal;
    font-style:normal;
}
.pd__support {
    padding: 10px 3px;
}

.pd__support_top {
    margin-right: 10px;
    float: left;
    width: 84px;
}

.pd__support_top img {
    width: 100%;
}

.line1 {
    color: #000;
    font-size: 19px;
    font-family: 'UTMCAFETA';
    text-transform: uppercase;
}

.line2 {
    color: #000;
    font-size: 19px;
    font-family: 'UTMCAFETA';
}

.line2 span {
    color: red;
}

.line3 {
    font-size: 12px;
    float: right;
    color: #0072bc;
}

.line4 {
    margin: 0;
    text-align: right;
}

/*--------------------------------------------------------------
#  PD Post Slider Widgets
--------------------------------------------------------------*/
.pd-posts-slider-widget .slick-slider:not(.slick-vertical) .slider_item {
    margin: 0 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

/*--------------------------------------------------------------
#  PD Post Slider Widgets
--------------------------------------------------------------*/
.sidebar .pd_best_seller_products_widget .pd__best_seller_products li.product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.sidebar .pd_best_seller_products_widget .pd__best_seller_products li.product:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
#  Meta Slider Widget
--------------------------------------------------------------*/
.widget_metaslider_widget:hover a.rslides_nav {
    opacity: 1;
    visibility: visible;
}

a.rslides_nav {
    text-indent: -9999px;
    padding: 0;
    margin-top: 0;
    width: 55px;
    height: 55px;
    background: rgba(5, 128, 193, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
}

a.rslides_nav:after {
    content: '';
    display: block;
}

a.rslides_nav.prev {
    border-radius: 0 5px 5px 0;
}

a.rslides_nav.next {
    border-radius: 5px 0 0 5px;
}

a.rslides_nav:after {
    text-indent: 0;
    content: "";
    font-size: 35px;
    width: 55px;
    height: 55px;
    color: white;
    font-family: fontawesome;
    position: absolute;
    top: 0;
    line-height: 55px;
    text-align: center;
}

a.rslides_nav.prev:after {
    content: "\f104";
}

a.rslides_nav.next:after {
    content: "\f105";
}

/*--------------------------------------------------------------
#  Count Per Day Widgets
--------------------------------------------------------------*/
.widget_countperday_widget .cpd {
    padding: 10px;
    border-radius: 5px;
}

.widget_countperday_widget .cpd li {
    padding: 7px 0 7px 15px;
}

.widget_countperday_widget .cpd li:not(:last-child) {
    border-bottom: 1px dotted #f0f0f0;
}

.widget_countperday_widget .cpd li:first-child {
    background: url(../images/c1.png) left center no-repeat;
}

.widget_countperday_widget .cpd li:nth-child(2n) {
    background: url(../images/c2.png) left center no-repeat;
}

.widget_countperday_widget .cpd li:nth-child(3n) {
    background: url(../images/c3.png) left center no-repeat;
}

.widget_countperday_widget .cpd li:nth-child(4n) {
    background: url(../images/c4.png) left center no-repeat;
}

.widget_countperday_widget .cpd li:last-child {
    background: url(../images/c4.png) left center no-repeat;
}

/*--------------------------------------------------------------
#  Contact Form 7
--------------------------------------------------------------*/
.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    outline: none;
}

.nhantinkhuyenmai {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.nhantinkhuyenmai .wpcf7-form-control:not(.wpcf7-submit) {
    padding: 5px 13px;
    margin-bottom: 13px;
    border-radius: 4px;
    border: 1px solid #eee;
    background: url(../images/ctf-input.png);
}

.wpcf7-form-control::placeholder,
.wpcf7-form-control::-webkit-input-placeholder,
.wpcf7-form-control::-moz-placeholder,
.wpcf7-form-control:-moz-placeholder,
.wpcf7-form-control:-ms-input-placeholder {
    color: #fff;
}

.nhantinkhuyenmai .ajax-loader {
    display: none !important;
}

.nhantinkhuyenmai .wpcf7-submit {
    background: #e02129;
    border: 1px solid #b60e15;
    border-radius: 4px;
    padding: 1px 19px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

/*--------------------------------------------------------------
#  Footer
--------------------------------------------------------------*/
.site-footer {
    position: relative;
    background: #f3090a;
}

.site-footer:before {
    content: ' ';
    width: 100%;
    display: block;
    border-bottom: 1px dashed #ccc;
    position: absolute;
    top: 3px;
    z-index: 9;
}

.site-footer .widget {
    margin-bottom: 0;
}

.site-footer .widget-title {
    background: none;
    text-align: left;
    text-transform: none;
    padding-left: 0;
    padding-bottom: 0;
    margin: 10px 0 19px;
    text-transform: uppercase;
}

/* Top Footer */
.top-footer {
    background: #d2010a;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-footer .widget_nav_menu .menu {
    margin-bottom: 0;
    display: table;
    margin: 0 auto;
}

.top-footer .widget_nav_menu .menu:after {
    content: '';
    display: block;
    clear: both;
}

.top-footer .widget_nav_menu .menu li {
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.top-footer .widget_nav_menu .menu li a {
  display: block;
  padding: 8px 15px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.top-footer .widget_nav_menu .menu li.current-menu-item a,
.top-footer .widget_nav_menu .menu li a:hover {
    color: #fffd79;
}

/* Bottom Footer */
.bottom-footer .container {
    max-width: 100%;
}

@media (min-width: 414px) {
    .bottom-footer {
        padding: 0 20px;
    }
}

.bottom-footer .widget_nav_menu .menu li a {
    display: block;
    color: #e2e2e2;
    font-size: 13px;
    line-height: 1.9em;
}

.bottom-footer .widget_nav_menu .menu li a:before {
    content: "\f0da";
    font-family: fontawesome;
    padding-right: 10px;
    color: white;
}

.site-footer .widget_text .textwidget, .site-footer .widget_text .textwidget a {
    color: #fff;
}

.site-footer .widget_text .textwidget i {
    font-size: 16px;
    margin-right: 20px;
    width: 16px;
    text-align: center;
}

/*--------------------------------------------------------------
##  Copyright
--------------------------------------------------------------*/
.copyright {
    background: #e32830;
    color: white;
    padding: 15px;
    position: relative;
}

.copyright a {
    color: white;
}

.copyright .container {
    position: relative;
    max-width: 100%;
}

.copyright-left {
    color: white;
}

@media (min-width: 414px) {
    .copyright {
        padding: 7px 30px;
    }

    .copyright-left {
        float: left;
        text-align: left;
    }

    .copyright-right {
        position: absolute;
        right: 20px;
        bottom: 25px;
    }
}

.copyright-right a {
    color: white;
}

@media (max-width: 413px) {
    .copyright-left {
        margin-bottom: 10px;
    }
}

/*--------------------------------------------------------------
##  Mobile Menu
--------------------------------------------------------------*/
.mobile-menu-container,
.vertical-mega-mobile-menu {
    background: black;
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-250px);
    -transform: translate(-250px);
    -o-transform: translate(-250px);
    transform: translate(-250px);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    z-index: 999999;
}

.vertical-mega-mobile-menu {
    left: auto;
    right: 0;
     -webkit-transform: translate(250px);
    -transform: translate(250px);
    -o-transform: translate(250px);
    transform: translate(250px);
}

.close-menu {
    background: #dd1f27;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.vertical-mega-mobile-menu ul,
.mobile-menu-container ul.mobile-menu {
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li,
.mobile-menu-container ul.mobile-menu li {
    position: relative;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    border-bottom: 1px solid #212121;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    color: white;
    display: block;
    padding: 10px;
}

.vertical-mega-mobile-menu ul li ul.sub-menu,
.mobile-menu-container ul.mobile-menu li ul.sub-menu {
    display: none;
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li.active > ul.sub-menu,
.mobile-menu-container ul.mobile-menu li.active > ul.sub-menu {
    background: #3a3a3a;
    display: block;
}

.vertical-mega-mobile-menu-active .vertical-mega-mobile-menu,
.mobile-menu-active .mobile-menu-container {
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.vertical-mega-mobile-menu-active .overlay,
.mobile-menu-active .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.menu-item-has-children > i {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  background: #2d2d2d;
  cursor: pointer;
}

.vertical-mega-mobile-menu .menu-item-has-children > i.fa:before,
.mobile-menu-container .menu-item-has-children > i.fa:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a9a9a9;
    content: '';
}

.vertical-mega-mobile-menu .menu-item-has-children.active > i.fa:before,
.mobile-menu-container .menu-item-has-children.active > i.fa:before {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}

.menu-item-has-children > i:before {
  position: absolute;
  top: 20px;
  left: 15px;
}

/*--------------------------------------------------------------
##  Backtop
--------------------------------------------------------------*/
#backtotop {
    background: black url(../images/backtop.png);
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 30px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}

#backtotop a {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#backtotop span {
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 60px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/backtop.png) center no-repeat, #333;
    opacity: .5;
    -webkit-transition: opacity .3s 0s,visibility 0s .3s;
    -moz-transition: opacity .3s 0s,visibility 0s .3s;
    transition: opacity .3s 0s,visibility 0s .3s;
    z-index: 10;
}

#backtotop span:hover {
    opacity: 1;
}

/*--------------------------------------------------------------
##  Tooltip
--------------------------------------------------------------*/
.ui-tooltip {
    max-width: 600px!important;
}

.fb-comments, .fb-comments span, .fb-comments iframe {
    width: 100%!important;
}